<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header::common_header(~{::title})">
    <title>zdora</title>
</head>
<style type="text/css">
    .layui-form-checkbox[lay-skin=primary] {
        min-height: 28px;
    }

    body .layer_bg .layui-layer-content {
        background-color: #393D49;
    }
</style>
<body style="background-color: #F2F2F2;font-family: Consolas;">
<div style="margin: 0px 20px 0px 20px;text-align: center">
    <ul class="layui-nav layui-bg-green">
        <li class="layui-nav-item"><span
                style="font-size: xx-large; font-weight: 800">脚本执行中心</span>
        </li>
    </ul>
</div>
<div style="margin: 20px;">
    <div class="layui-card">
        <div class="layui-card-header">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>
                    <button class="layui-btn layui-btn-primary" style="border: none">节点机器<span class="layui-badge"
                                                                                               th:text="${clientsCount}"></span>
                    </button>
                </legend>
            </fieldset>
        </div>
        <div class="layui-card-body layui-form-pane">
            <div class="layui-form-item" name="executor" style="width: 100%" th:each="client,clientStat:${clients}">
                <label class="layui-form-label" style="width: 200px" th:text="${client.cid}"></label>
                <div class="layui-inline">
                    <input name="executeCommand" placeholder="请输入命令,如java" class="layui-input" type="text" style="width: 300px">
                </div>
                <div class="layui-inline">
                    <input name="executeArgs" placeholder="请输入参数,如-version" class="layui-input" type="text"
                           style="width: 300px">
                </div>
                <input name="cid" type="hidden" th:value="${client.cid}">
                <input name="sessionId" type="hidden" th:value="${client.session.id}">
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-primary" th:onclick="'executor(this)'">执行</button>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-card">
        <div class="layui-card-header">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>
                    <button class="layui-btn layui-btn-primary" style="border: none">执行详情</button>
                </legend>
            </fieldset>
        </div>
        <div class="layui-card-body">
            <div class="layui-collapse" lay-filter="test">
                <div class="layui-colla-item" name="executorLogs" th:each="executor,executorsStat:${executors}">
                    <h2 class="layui-colla-title"
                        th:text="${executor.cid}+ ':' +${executor.executeCommand}+' '+${executor.executeArgs}+ ' '+${executor.status.statusName}"></h2>
                    <input name="cid" type="hidden" th:value="${executor.cid}">
                    <input name="cid" type="hidden" th:value="${executor.cid}">
                    <div class="layui-colla-content" name="logs">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
<script th:inline="javascript" type="text/javascript">

    layui.use(['element', 'layer'], function () {
        //监听折叠
        var element = layui.element;
        var layer = layui.layer;
        element.on('collapse(test)', function (data) {
            socket.send(JSON.stringify({type:8,executeId:}));
        });
    });

    var cid = [[${cid}]];

    function executor(obj) {
        var f = $(obj).parent().eq(0).parent().eq(0);
        var params = {};
        $(f).find("input[name]").each(function (i) {
            params[$(this).attr("name")]=$(this).val();
        })
        $.post(ctx + "/push", params, function (data) {
            if (data.retCode == '200') {

            }
            //socket.send("开始执行啦！")
            //alert(data.retCode);
        });
    }

    var socket;
    if (typeof(WebSocket) == "undefined") {
        console.log("您的浏览器不支持WebSocket");
    } else {
        console.log("您的浏览器支持WebSocket");
        //实现化WebSocket对象，指定要连接的服务器地址与端口 建立连接
        // 等同于socket = new WebSocket("ws://localhost:8083/checkcentersys/websocket/20");
        socket = new WebSocket((ctx + "/websocket/" + cid + "/4").replace("http", "ws"));
        //打开事件
        socket.onopen = function () {
            //console.log(cid + " Socket 已打开");
            //socket.send("这是来自客户端的消息" + location.href + new Date());
        };
        //获得消息事件
        socket.onmessage = function (msg) {
            var message = JSON.parse(msg.data);
            if (message.type == 1) {
                $("#content").text(message.message);
            } else if (message.type == 2) {
                if ($("#executorProcess")) {
                    $("#executorProcess").append("<p style='color:white; margin-left: 10px'>" + message.message + "</p>");
                }
            } else if (message.type == 3) {
                layer.closeAll();
            }
        };
        //关闭事件
        socket.onclose = function () {
            console.log("Socket已关闭");
        };
        //发生了错误事件
        socket.onerror = function () {
            //alert("Socket发生了错误");
            //此时可以尝试刷新页面
        }
    }

    $(function () {
    });

</script>
</html>

