<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header::common_header(~{::title})">
    <title>zdora</title>
</head>
<style type="text/css">
    .layui-form-checkbox[lay-skin=primary] {
        min-height: 28px;
    }

    body .layer_bg .layui-layer-content{
        background-color: #393D49;
    }
</style>
<body>
<ul class="layui-nav layui-bg-green" style="text-align: center">
    <li class="layui-nav-item"><span style="font-size: xx-large;font-family: Consolas; font-weight: 800">DEMO</span>
    </li>
</ul>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
    <legend><span id="content" style="font-family: Consolas"></span></legend>
</fieldset>
<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">
                <button class="layui-btn layui-btn-sm" th:onclick="'executor()'">执行</button>
            </div>
            <div class="layui-card-body">
                <div class="layui-collapse" lay-filter="test" lay-accordion="">
                    <div class="layui-colla-item" th:each="tc,tcStat:${testcases}">
                        <h2 class="layui-colla-title" style="font-family: Consolas;">
                            <div class="layui-form"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
                                <div class="layui-form-item">
                                    <input lay-skin="primary" lay-filter="checkCases" th:attr="title=${tc.testCaseFileName}" type="checkbox">
                                </div>
                            </div>
                            <!--<span style="font-family: Consolas" th:text="${tc.testCaseFileName}"></span>-->
                        </h2>
                        <div th:class="${tcStat.index==0}?'layui-colla-content layui-show':'layui-colla-content'">
                            <pre class="layui-code" th:attr="lay-title=${tc.testCaseFileName}" lay-skin="notepad" th:text="${tc.testCase}" style="font-family: Consolas"></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript" type="text/javascript">
    $(function () {
    })
    layui.use('form', function(){
        var form = layui.form;
        form.on('checkbox(checkCases)', function(data){
            console.log(data.elem); //得到checkbox原始DOM对象
            console.log(data.elem.checked); //是否被选中，true或者false
            console.log(data.value); //复选框value值，也可以通过data.elem.value得到
            console.log(data.othis); //得到美化后的DOM对象
            clickCheckbox();
        });
        //各种基于事件的操作，下面会有进一步介绍
    });
    layui.use('code', function(){
        layui.code({about: false});
    });
    layui.use(['element', 'layer'], function () {
        var element = layui.element;
        var layer = layui.layer;
        //监听折叠
        element.on('collapse(test)', function (event,data) {
            event.preventDefault();
            layer.msg('展开状态：' + data.show);
        });
    });

    //点击button的方法
    function clickCheckbox(event){
        stopBubbling(event);
    }

    function stopBubbling(e) {
        e = window.event || e;
        if (e.stopPropagation) {
            e.stopPropagation();      //阻止事件 冒泡传播
        } else {
            e.cancelBubble = true;   //ie兼容
        }
    }
    var cid = [[${cid}]];

    function executor() {
        layer.open({
            type: 1
            ,title: false //不显示标题栏
            ,closeBtn: false
            ,area: ['80%','80%']
            ,skin: 'layer_bg'
            ,shade: 0.1
            ,id: 'executorProcess' //设定一个id，防止重复弹出
            ,resize: false
            ,btnAlign: 'c'
            ,moveType: 1 //拖拽模式，0或者1
            ,content: '<div style="padding: 5px; line-height: 22px; font-weight: 300; font-color: white"></div>'
        });
        $.post(ctx+"/push",{},function(data){
            //alert(data.retCode);
        });
    }

    var socket;
    if (typeof(WebSocket) == "undefined") {
        console.log("您的浏览器不支持WebSocket");
    } else {
        console.log("您的浏览器支持WebSocket");
        //实现化WebSocket对象，指定要连接的服务器地址与端口 建立连接
        // 等同于socket = new WebSocket("ws://localhost:8083/checkcentersys/websocket/20");
        socket = new WebSocket((ctx + "/websocket/" + cid).replace("http", "ws"));
        //打开事件
        socket.onopen = function () {
            //console.log(cid + " Socket 已打开");
            //socket.send("这是来自客户端的消息" + location.href + new Date());
        };
        //获得消息事件
        socket.onmessage = function (msg) {
            $("#content").text(msg.data);
            if($("#executorProcess")){
                $("#executorProcess").append("<p style='color:white; margin-left: 10px'>"+msg.data+"</p>");
            }
            //发现消息进入 开始处理前端触发逻辑
        };
        //关闭事件
        socket.onclose = function () {
            console.log("Socket已关闭");
        };
        //发生了错误事件
        socket.onerror = function () {
            //alert("Socket发生了错误");
            //此时可以尝试刷新页面
        }
    }

</script>
</html>

