<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header::common_header(~{::title})">
    <title>zdora</title>
</head>
<style type="text/css">
    .layui-form-checkbox[lay-skin=primary] {
        min-height: 28px;
    }
</style>
<body>
<ul class="layui-nav layui-bg-green" style="text-align: center">
    <li class="layui-nav-item"><span style="font-size: xx-large;font-family: Consolas; font-weight: 800">DEMO</span>
    </li>
</ul>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
    <legend><span id="content" style="font-family: Consolas"></span></legend>
</fieldset>
<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">
                <button class="layui-btn layui-btn-sm">小型按钮</button>
            </div>
            <div class="layui-card-body">
                <div class="layui-collapse" lay-filter="test" lay-accordion="">
                    <div class="layui-colla-item" th:each="tc,tcStat:${testcases}">
                        <h2 class="layui-colla-title" style="font-family: Consolas;">
                            <div class="layui-form"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
                                <div class="layui-form-item">
                                    <input lay-skin="primary" th:attr="title=${tc.testCaseFileName}" type="checkbox">
                                </div>
                            </div>
                            <!--<span style="font-family: Consolas" th:text="${tc.testCaseFileName}"></span>-->
                        </h2>
                        <div th:class="${tcStat.index==0}?'layui-colla-content layui-show':'layui-colla-content'">
                            <pre class="layui-code" th:attr="lay-title=${tc.testCaseFileName}" lay-skin="notepad" th:text="${tc.testCase}" style="font-family: Consolas"></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript" type="text/javascript">
    $(function () {
    })
    layui.use('form', function(){
        var form = layui.form;
        //各种基于事件的操作，下面会有进一步介绍
    });
    layui.use('code', function(){
        layui.code({about: false});
    });
    layui.use(['element', 'layer'], function () {
        var element = layui.element;
        var layer = layui.layer;
        //监听折叠
        element.on('collapse(test)', function (event,data) {
            event.preventDefault();
            layer.msg('展开状态：' + data.show);
        });
    });

    var socket;
    if (typeof(WebSocket) == "undefined") {
        console.log("您的浏览器不支持WebSocket");
    } else {
        console.log("您的浏览器支持WebSocket");
        var cid = [[${cid}]];
        console.log(cid);
        //实现化WebSocket对象，指定要连接的服务器地址与端口 建立连接
        // 等同于socket = new WebSocket("ws://localhost:8083/checkcentersys/websocket/20");
        socket = new WebSocket((ctx + "/websocket/" + cid).replace("http", "ws"));
        //打开事件
        socket.onopen = function () {
            //console.log(cid + " Socket 已打开");
            //socket.send("这是来自客户端的消息" + location.href + new Date());
        };
        //获得消息事件
        socket.onmessage = function (msg) {
            $("#content").text(msg.data);
            //发现消息进入 开始处理前端触发逻辑
        };
        //关闭事件
        socket.onclose = function () {
            console.log("Socket已关闭");
        };
        //发生了错误事件
        socket.onerror = function () {
            //alert("Socket发生了错误");
            //此时可以尝试刷新页面
        }
    }

</script>
</html>

